*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.product_contaner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.card{
  display: block;

}
img{
  width: 100%;
}
.upload_section{
  display: flex;
  align-items: center;
  margin: 40px 20px;
}
.upload_section button{
  border: none;
  outline: none;
  background-color: brown;
  color: #fff;
  padding: 8px 15px;
}
.upload_section in{
  margin: 5px;
}